.react-calendar {
  width: 150%;
  max-width: 400px;
  background-color: #0AF4E020;
  border-radius: 10px;
  padding: 8px;
  font-family: 'Poppins';
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 320px;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.react-calendar__tile {
  padding: 10px 10px;
  font-size: 12px;
  border-radius: 8px;
  transition: background 0.1s ease;
}

.react-calendar__tile--active {
  background: #009205;
  color: white;
}

.react-calendar__tile--now {
  background: #0AF4E0;
  border-radius: 8px;
  color: black;
}

.react-calendar__tile:hover {
  background: #009205;
  cursor: pointer;
}

.react-calendar__navigation button {
  font-size: 20px;  
  padding: 10px 20px; 
}

.react-calendar__month-view__weekdays {
  font-size: 12px;
  text-align: center;
  color: #333;
  text-transform: none;
}